@{
    ViewBag.Title = "忘记密码";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section  head
{
   
  
        <script type="text/javascript" src="~/Content/Script/bz/knockout.binding.js"></script>
    <script type="text/javascript" src="~/Content/Script/bz/forgetpassword.js"></script>
    <style type="text/css">
        .panel {
            margin-top: 80px;
        }

        td {
            white-space: nowrap;
        }
        .error{
            color:#ff0000;
        }
    </style>
}
<body>


    <div class="easyui-panel" title="通过邮件找回密码" style="width:400px;margin:0 auto">
        <div style="padding:10px 60px 20px 60px">
            <form id="ff" method="post">
                <table cellpadding="5" style="margin:auto">
                    <tr>
                        <td>用户名:</td>
                        <td><input class="easyui-textbox" type="text" data-options="required:true" data-bind="textbox_value:userName" /> </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input class="easyui-textbox" type="text" data-options="required:true,validType:'email'" data-bind="textbox_value:userEmail" />  </td>
                    </tr>
                    <tr>
                        <td>验证码:</td>
                        <td><input class="easyui-textbox" type="text" data-options="required:true" data-bind="textbox_value:verifyCode" /> </td> 
                    </tr>
                    <tr>
                        <td>
                        <td><img style="cursor: pointer;" src="/Account/VerifCode" alt="验证码" data-bind="click:function(data,event){ refreshCode(data,event); }" /></td>
                    </tr>
                </table>
                <div class="error"></div>
            </form>
            <div style="text-align:center;padding-top:10px;  padding-left:20px; ">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-accept" data-bind="click:submit">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" data-bind="click:clear">清空</a>
            </div>
        </div>
    </div>

    <script type="text/javascript"  >

        //文档执行才能绑定
        $(function(){
             ko.applyBindings(CH.viewModel.forgetpassword);
        }); 

    </script>

</body> 
