<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>修改密码链接已过期</title> 
    <style type="text/css">
        body, div {
            font-family: "lucida grande",helvetica,verdana,arial,sans-serif;
        }

        body {
            color: #333;
            font-size: small;
            margin: 0;
            padding: 0;
        }

        div {
            margin: 0 auto;
            text-align: center;
        }
    </style>

</head>
<body>

    <div><h3>修改密码链接已过期</h3></div>
    <div><a href="/home/index">返回首页</a></div>
    

</body>
</html>
