<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <log4net>


    <appender name="SysInfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/sys_info/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline" />

      </layout>
      <!--只输出Info-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />

      </filter>
    </appender>

    <!--系统出错日志-->
    <appender name="SysErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/sys_error/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline" />

      </layout>
      <!--只输出Info-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />

      </filter>
    </appender>

    <!--定义Linq2db Info 输出-->
    <appender name="Linq2DBInfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/Linq2db_info/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline" />

      </layout>
      <!--只输出Info-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />

      </filter>
    </appender>

    <!--定义Linq2db Error 输出-->
    <appender name="Linq2DBErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/Linq2db_error/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline" />

      </layout>
      <!--只输出Info-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>

    <!-- Define some output appenders -->

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="log\log.txt" />
      <!-- Example using environment variables in params -->
      <!-- <file value="${TMP}\log-file.txt" /> -->
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date ThreadID:[%thread] Level：%-5level Class：%logger property:[%property{NDC}] - Info：%message%newline" />
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />-->
      </layout>
    </appender>


    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>

    </root>

    <logger name="Linq2db">
      <level value="ALL"/>
      <additivity value="false"/>
      <!--阻止root根输出-->
      <appender-ref ref="Linq2DBInfoAppender"/>
      <!--信息日志-->
      <appender-ref ref="Linq2DBErrorAppender"/>
      <!-- 错误日志-->
    </logger>

    <logger name="Sys">
      <level value="ALL"/>
      <additivity value="false"/>
      <!--阻止root根输出-->
      <appender-ref ref="SysInfoAppender"/>
      <!--信息日志-->
      <appender-ref ref="SysErrorAppender"/>
      <!-- 错误日志-->
    </logger>

  </log4net>
</configuration>
