<?xml version="1.0" encoding="utf-8"?>
<configuration>
 

  <connectionStrings>
    <!--<add name="default"        connectionString="Server = Chenl-PC;Database = Permission;User Id = sa;Password = system" providerName="SqlServer" />
    <add name="default"   connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RMESDEV)));User Id=mvc;Password=mvc;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="default"   connectionString="Server=localhost;Port=3306;Database=mvc;Uid=root;Pwd=system;charset=utf8;" providerName="MySql.Data.MySqlClient" />
    <add name="SqlServer"        connectionString="Server = Chenl-PC;Database = Permission;User Id = sa;Password = system" providerName="SqlServer" />
  </connectionStrings>
</configuration>
